.main {
  padding: 10rem 2rem 2rem 2rem; /* Adjusted top padding for better spacing */
  margin-top: 0;
  min-height: 100vh;
}

.gap-larger {
  gap: 3rem;
}

.alert-text {
  margin: 2rem 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 8rem;
  }
}