.payment-page {
  padding: 9rem 0 2rem 0;
  gap: 6rem;
}

.gap-md {
  gap: 1.5rem;
}

.final-details-container {
  padding: 1rem;
  width: 25rem;
  position: relative;
  z-index: 0;
  background-color: var(--background-color);
}

.dates-and-guests {
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 1rem;
}

.payment-option {
  border: 1px solid var(--accent-color);
  padding: 10px;
  width: 100%;
  color: #1d4ed8;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 1px;
  border-radius: 4px;
}

.btn-pay {
  padding: 1rem 0;
  font-size: 1.25rem;
}

.final-details {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 1rem 1.5rem;
  position: relative;
  z-index: 0;
  background-color: var(--background-color);
}



.tag {
  margin-top: 1rem;
}

.hotel-name {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color-primary);
  margin-bottom: 0.5rem;
}

.hotel-address {
  color: var(--text-color-secondary);
  font-size: 0.9rem;
}

.image {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 4px;
  object-fit: cover;
}

.rating {
  color: var(--text-color-primary);
  gap: 0.25rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--text-color-primary);
}

.tag {
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  padding: 1rem 0;
}

.tag .strong {
  color: var(--primary-color);
}

.price-detail-container {
  margin-top: 1rem;
}

.price-detail-container .price-distribution {
  padding: 0;
}

.price-detail-container h3 {
  margin-bottom: 1rem;
  color: var(--text-color-primary);
}

.price-detail-container .final-price {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-detail-container .final-price .span {
  font-size: 1rem;
  color: var(--text-color-primary);
}